<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Slow Food Sinatra</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="content">
  <header>
    <div class="top-bar-container">
      <div class="top-bar-left">
        <ul class="menu menu-hover-lines">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/signup" class="hallow button">Sign up</a></li>
          <li>
            <div id="login-toolbar">
              <% if current_user %>
                  <a href="/logout" class="hallow button">Logout</a>
              <% else %>
                  <a href="/login" class="hallow button">Login</a>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <% flash.keys.each do |type| %>
      <div>
        <%= flash[type] %>
      </div>
  <% end %>

  <%= yield %>

  <footer class="marketing-site-footer">
    <div class="row medium-unstack">
      <div class="medium-4 columns">
        <h4 class="marketing-site-footer-name">St:Eriks Restaurant</h4>
        <p>Good food tastes good.</p>
        <ul class="menu marketing-site-footer-menu-social simple">
          <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="medium-4 columns">
        <h4 class="marketing-site-footer-title">Contact Info</h4>
        <div class="marketing-site-footer-block">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>Open Lab, Valhallavägen<br>Stockholm, Sweden</p>
        </div>
        <div class="marketing-site-footer-block">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>1 (072) 555-5555</p>
        </div>
        <div class="marketing-site-footer-block">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>steriksrestaurant@mail.com</p>
        </div>
      </div>
    </div>
    <div class="marketing-site-footer-bottom">
      <div class="row large-unstack align-middle">
        <div class="column">
          <p>&copy; 2017 St Erik's team</p>
        </div>
      </div>
    </div>
  </footer>

</div>
<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
