<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Slow Food Sinatra</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="content">
  <header>
    <!--<a href="/"><img src="/img/zenchinese.png" class="logo"></a>-->
    <div class="top-bar-container">
      <div class="top-bar-left">
        <ul class="menu menu-hover-lines">
          <li class="active"><a href="/welcome">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/signup" class="secondary hallow button">Register</a></li>
          <li>
            <div id="login-toolbar">
              <% if current_user %>
                  <a href="/logout" class="secondary hallow button">Logout</a>
              <% else %>
                  <a href="/login" class="secondary hallow button">Login</a>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <link rel="signup" href="views/signup.erb"/>

  <% flash.keys.each do |type| %>
      <div>
        <%= flash[type] %>
      </div>
  <% end %>

  <%= yield %>
</div>
<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
