<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Slow Food Sinatra</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="css/foundation.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <form class="callout text-center">
    <h2>Become A Member</h2>
    <div class="floated-label-wrapper">
      <label for="full-name">Full name</label>
      <input type="text" id="full-name" name="full name input" placeholder="Full name">
    </div>
    <div class="floated-label-wrapper">
      <label for="email">Email</label>
      <input type="email" id="email" name="email input" placeholder="Email">
    </div>
    <div class="floated-label-wrapper">
      <label for="pass">Password</label>
      <input type="password" id="pass" name="password input" placeholder="Password">
    </div>
    <input class="button expanded" type="submit" value="Sign up">
  </form>

<div id="content">
  <header>
    <a href="/"><img src="/img/zenchinese.png" class="logo"></a>
    <div id="login-toolbar">
      <% if current_user %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
  </header>

  <% flash.keys.each do |type| %>
      <div>
        <%= flash[type] %>
      </div>
  <% end %>

  <%= yield %>
</div>
<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
