<form action="/login" method="post" class="callout text-center" style="margin: 5% 20% 5% 20%">
  <div class="floated-label-wrapper">
    <label for="username">Username</label>
    <input type="text" name="user[name]" id="username" placeholder="Username">
  </div>
  <div class="floated-label-wrapper">
    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password" placeholder="Password">
  </div>
    <input class="button expanded" type="submit" value="Login">
</form>
