<form action="/register" method="post">
    <label form="username">Username</label>
    <input type="text" id="username" name="user[username]"\>

    <label form="password">Password</label>
    <input type="text" id="password" name="user[password]"\>

    <label form="password_confirmation">Password Confirmation</label>
    <input type="text" id="password_confirmation" name="user[password_confirmation]"\>

    <input type="submit" value="Register">
</form>